:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-size: 48px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 20px;
}

.banner {
    text-align: center;
    margin-bottom: 20px;
}

.banner img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
    margin-top: 20px;
}

.input-section {
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-name {
    width: 70%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-add {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 0 25px 25px 0;
    background-color: var(--color-tertiary);
    color: var(--color-text);
    cursor: pointer;
}

.button-add:hover {
    background-color: #a1a1a1;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-draw {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    background-color: var(--color-button);
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button-draw img {
    margin-right: 10px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

.button-reset {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    background-color: #ff4d4d; /* Vermelho para destacar */
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button-reset:hover {
    background-color: #cc0000; /* Vermelho mais escuro no hover */
}

.list-names {
    margin-bottom: 20px;
}

.list {
    list-style-type: none;
    color: var(--color-text);
    font-size: 18px;
    padding: 0;
}

.list li {
    display: inline;
}

.list li:not(:last-child)::after {
    content: ", ";
}

.error {
    color: red;
    font-size: 16px;
    margin-bottom: 20px;
}

.result {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.result-list {
    list-style-type: none;
    padding: 0;
}

.result-list li {
    margin-bottom: 10px;
}